*
  box-sizing: border-box

html
  height: 100%

body
  height: 100%
  margin: 0
  overflow: hidden

textarea
  width: 100%
  height: 100%
  background-color: black
  color: #080
  font: bold 16px consolas, 'Courier New', 'andale mono', 'lucida console', monospace
